[Unit]
Description=Binding all devices except: %I
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/scripts/usbip-scripts/attach_all.py /usr/bin/usbip thinpi.lan %i

[Install]
WantedBy=multi-user.target
