[Unit]
Description=Binding all devices except: %I
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/scripts/usbip-scripts/bind_all.py /usr/sbin/usbip %i

[Install]
WantedBy=multi-user.target
