[Unit]
Description=Binding all devices from devices file at ~/.config/usbip
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/usbip/usbip-auto-tool.py /opt/usbip/devices.txt /var/log/usbip/log.txt

[Install]
WantedBy=default.target
