[Unit]
Description=USB-IP: Attaching all devices from devices file at ~/.config/usbip (Host %I)
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/usbip/usbip-auto-tool.py /opt/usbip/devices.txt /var/log/usbip/log.txt %I

[Install]
WantedBy=default.target
